#!/usr/bin/make -f

%:
	dh $@


override_dh_auto_clean:
	dh_auto_clean
	find . -name __pycache__ | xargs rm -rf
	rm -f config.status


override_dh_auto_configure:
	CC=$(CC) CXX=$(CXX) ./configure --prefix=/usr --shared --without-npm --without-corepack


override_dh_auto_install:
	dh_auto_install
	wget https://raw.githubusercontent.com/nodejs/node-addon-api/v$(NAPI_VERSION)/napi.h \
		-O debian/tmp/usr/include/node/napi.h
	wget https://raw.githubusercontent.com/nodejs/node-addon-api/v$(NAPI_VERSION)/napi-inl.h \
		-O debian/tmp/usr/include/node/napi-inl.h
	wget https://raw.githubusercontent.com/nodejs/node-addon-api/v$(NAPI_VERSION)/napi-inl.deprecated.h \
		-O debian/tmp/usr/include/node/napi-inl.deprecated.h
	mkdir -p debian/tmp/usr/share/pkgconfig
	sed s/_VERSION_/$(NODE_VERSION)/ node.pc > debian/tmp/usr/share/pkgconfig/node.pc
	cat /tmp/cache.debug
