#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=optimize=-lto
export NAPI_VERSION=_NAPI_VERSION_
export NODE_VERSION=_NODE_VERSION_
export CC=_GCC_
export CXX=_GCXX_

%:
	dh $@


override_dh_auto_clean:
	dh_auto_clean
	find . -name __pycache__ | xargs rm -rf
	rm -f config.status


override_dh_auto_configure:
	env
	for SUB in doc clang-format lint-md; do \
		mv tools-$${SUB}-node-modules tools/$${SUB}/node_modules; \
	done
	./configure --prefix=/usr --shared --without-npm --without-corepack


override_dh_auto_install:
	dh_auto_install 
	install /node-addon-api/napi.h debian/tmp/usr/include/node/napi.h
	install /node-addon-api/napi-inl.h debian/tmp/usr/include/node/napi-inl.h
	install /node-addon-api/napi-inl.deprecated.h debian/tmp/usr/include/node/napi-inl.deprecated.h
	mkdir -p debian/tmp/usr/share/pkgconfig
	sed s/_VERSION_/$(NODE_VERSION)/ node.pc > debian/tmp/usr/share/pkgconfig/node.pc
