#!/usr/bin/make -f

export TARGET_DIR=debian/node-addon-api/usr/include/libnode

%:
	dh $@


override_dh_auto_clean:
	true


override_dh_auto_configure:
	env


override_dh_auto_install:
	mkdir -p debian/node-addon-api/usr/include/libnode
	install napi.h					${TARGET_DIR}/napi.h
	install napi-inl.h				${TARGET_DIR}/napi-inl.h
	install napi-inl.deprecated.h	${TARGET_DIR}/napi-inl.deprecated.h
